target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iml

log
#config
src/main/java/resources/application-dev.properties (why not work)
#src/main/java/com/example/demo/controller/AppleController.java
#log
logback.log
